.venv
__pycache__/
.pytest_cache/
.env
homeassistant/.storage/*.json.backup
homeassistant/.storage/auth*
homeassistant/.storage/person*
homeassistant/.storage/core.*
homeassistant/.storage/*
!homeassistant/.storage/.gitkeep
homeassistant/home-assistant*
homeassistant/*.db*
homeassistant/.HA_VERSION
homeassistant/.ha_run.lock
homeassistant/deps/
homeassistant/tts/
.DS_Store
*.pyc
*.pyo
*.egg-info/
dist/
.idea/
.vscode/
homeassistant/custom_components/hacs/
homeassistant/www/community/
