- id: toggle_template_boolean
  alias: Template Toggle Automation
  trigger:
    - platform: homeassistant
      event: start
  action:
    - service: input_boolean.turn_on
      target:
        entity_id: input_boolean.template_feature_toggle
